{{! template-lint-disable }}
{{! (seems like the alignment rule doesn't work right with splattributes) }}

<div
  class="global-inner"
  local-class="local-inner"
  data-test-element
  ...attributes
>
</div>
