{{page-title "Dummy"}}

<div local-class="app-bar">
  <h1>Hello world!</h1>
</div>

<MyMessageComponent>Hello world!</MyMessageComponent>

<MyMessageComponent @error={{true}}>Oh noes, error text!</MyMessageComponent>