name: CI

# These trigger patterns courtesy of https://github.com/broccolijs/broccoli/pull/436
on:
  pull_request:
  push:
    # filtering branches here prevents duplicate builds from pull_request and push
    branches:
      - master
      - 'v*'
    # always run CI for tags
    tags:
      - '*'

  # early issue detection: run CI weekly on Sundays
  schedule:
  - cron:  '0 6 * * 0'

env:
  CI: true

jobs:
  test-locked-deps:
    name: Locked Deps
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v1
      - name: Install Node
        uses: actions/setup-node@v1
        with:
          node-version: 16
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      - name: Run Tests
        run: yarn workspace ember-css-modules test

  test-old-dependencies:
    name: Oldest Supported Env
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v1
      - name: Install Node
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
        working-directory: test-packages/old-app
      - name: Run Tests
        run: yarn test
        working-directory: test-packages/old-app

  test-latest-ember-cli:
    name: Latest CLI
    runs-on: ubuntu-latest
    needs: [test-locked-deps]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v1
      - name: Install Node
        uses: actions/setup-node@v1
        with:
          node-version: 16
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      - name: Install Latest `ember-cli`
        run: yarn workspace ember-css-modules add --dev ember-cli@latest
      - name: Run Tests
        run: yarn workspace ember-css-modules test


  test-windows:
    name: Windows
    runs-on: windows-latest
    needs: [test-locked-deps]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v1
      - name: Install Node
        uses: actions/setup-node@v1
        with:
          node-version: 16
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      - name: Run Tests
        run: yarn workspace ember-css-modules test

  test-try:
    name: Ember Try
    runs-on: ubuntu-latest
    needs: [test-locked-deps]
    strategy:
      matrix:
        scenario:
         - ember-release
         - ember-beta
         - ember-canary
    steps:
      - name: Checkout Code
        uses: actions/checkout@v1
      - name: Install Node
        uses: actions/setup-node@v1
        with:
          node-version: 16
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      - name: Try Scenario
        run: yarn workspace ember-css-modules ember try:one ${{ matrix.scenario }}

  test-packages:
    name: Test Packages
    runs-on: ubuntu-latest
    needs: [test-locked-deps]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v1
      - name: Install Node
        uses: actions/setup-node@v1
        with:
          node-version: 16
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      - name: Embroider App
        run: yarn workspace embroider-app test
      - name: Sass App
        run: yarn workspace sass-app test
      - name: Plugin Addon
        run: yarn workspace plugin-addon test
      - name: Octane Addon
        run: yarn workspace octane-addon test
      - name: Octane Addon With Custom moduleName
        run: yarn workspace @my-namespace/octane-addon test
